#container {
    padding: 15px;
    padding-top: 20px;
}

.promoCard {
    width: 100%;
    height: 100px;
    background: rgb(107, 105, 105);
    border-radius: 5px;
    background-size: cover !important;
    background-position-x: center !important;
    background-position-y: center !important;
}

.logo {
    width: 60px;
}

ion-menu-button {
    --color: white !important;
    color: white !important;
}

ion-menu-buttons {
    --color: white !important;
    color: white !important;
}

.header-translucent-ios ion-toolbar {
    --opacity: 0 !important;
}

ion-item {
    --padding-start: 0px;
    margin-bottom: 15px;
    border-right: 3px solid grey;
    box-shadow: 2px 3px 6px 0px #8888886e;
    width: 98%;
}

ion-list-header {
    padding-inline-start: 0px;
    padding: 0px 10px;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
}

ion-col {
    padding: 0px;
}


.titulo-produto {
    overflow:visible !important; 
    color: rgb(61, 61, 61); 
    font-size: 15px;
}

.descricao-produto {
    color: rgb(85, 85, 85); 
    font-size: 11px; 
    margin-top: 3px; 
    margin-bottom: 0px;
    width: 92%;
    min-width: 100px;
}

.preco-produto {
    font-size: 16px; 
    position: relative; 
    margin: 0px;
    //top: -5px;
    //position: absolute;
}

.produtoImagem {
    width: 120px;
    height: 70px;
    background-size: cover !important;
    background-position-x: center !important;
    background-position-y: center !important;
    border-radius: 5px;
}

.nomeLoja {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000;
    font-size: 18px;
    font-weight: 600;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-content {
    --background: #fff !important
}

ion-item {
    --background: transparent !important
  }

  ion-list {
    --background: transparent !important;
    background: transparent !important;
    --ion-background-color: transparent !important;
  }