<!-- Header -->
<ion-header [translucent]="true" *ngIf="loaded" collapse="undefined" mode="ios">
  <ion-toolbar [style.background-color]="firebase.config.color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title size="large" style="height: 50px; text-align: center;">
      <img class="logo" alt="logo" [src]="firebase.config.logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content [fullscreen]="true" *ngIf="loaded">
  <div id="container">
    <!-- Nome Loja -->
    <div class="ion-text-center ion-margin-bottom">
      <label class="nomeLoja" [style.color]="firebase.config.color">{{firebase?.config?.nome.toUpperCase()}}</label>
    </div>
    <!-- Card de promocão -->
    <div class="promoCard"  [style.background]="'url(' + firebase.config.banner + ')'"></div>

    <!-- Categorias -->
    <ion-list *ngFor="let c of categorias" style="margin-top: 20px;" mode="ios">
      <ion-list-header style="margin-bottom: 15px; color: #fff" [style.background-color]="firebase.config.color">
        {{c.titulo}}
      </ion-list-header>

      
      <!-- Produtos -->
      <ion-item *ngFor="let p of c.produtos" lines='none' (click)="detalhesDoProduto(p)" button="true">
        <ion-grid>
          <ion-row style="width: 96%;">
            <ion-col size="12" class="ion-margin-end"> 
              <ion-row style="margin: 5px; margin-bottom: 0px;">
                <ion-col size="auto">
                  <div class="produtoImagem" [style.background]="'url(' + p.imagem + ')'"></div>
                </ion-col>
                <ion-col size="auto" class="ion-margin">
                  <p class="preco-produto" [style.color]="firebase.config.color">{{p.preco | currency:'BRL'}}</p>
                  <p *ngIf="p.serve > 0" class="descricao-produto"><b>serve {{p.serve > 1 ? p.serve + ' pessoas' : p.serve + ' pessoa'}}</b></p>

                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12" style="margin: 5px; margin-top: 8px;">
              <ion-label class="titulo-produto">{{p.titulo}}</ion-label>
              <p class="descricao-produto">{{p.descricao}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    
    </ion-list>
  </div>
</ion-content>